body {
    background-color: #14213D;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Glacial";
    box-sizing: border-box;
}

@font-face {
    font-family: "Glacial";
    src: url(../Fonts/GlacialIndifference.otf);
}

.Logo {
    padding: 5px;
    height: 120px;
}

.img {
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px !important;
}

.titulo {
    padding-top: 2%;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2%;
    text-shadow: #000000;
}

.titulo-2 {
    color: #ffff;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 2%;
    text-shadow: #000000;
}

.p-3 {
    background: #000000;
} 

h1 {
    color: #ffff;
    text-transform: uppercase;
    font-weight: 500px;
    font-size: 30px;
    margin: 0;
}

#producto-contenedor {
    display: grid;
    gap: 1rem;
    max-width: 60rem;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
}

.card {
    max-width: 30%;
    padding: 10px;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}

.card .card-image .card-title {
    color: #000000;
    position: unset;
    font-size: large;
}

.btn-floating {top: 400px;}

.precio {font-size: 22px;
color: rgb(132, 0, 255);
}